.cardClass{
    margin-left: -30vw;
}
.MainClass {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .MainClass h1{
    margin-left: 20vw;
    
  }
  
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
  }
  

  .card-container .bottom-row {
    display: flex;
    justify-content: center;
  }
  

  .card-container .card {
    max-width: 345px; 
  }
  /* Margin top for the third and fourth cards */
.card-container .bottom-row .card {
    margin-top: 250px; /* Adjust the margin top as needed */
  }
  