.acutal-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main-nav{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 35px;
    height: 45px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.22);
    width: 45vw;
    border-radius: 10px;
}
.links-div{

    display: flex;
    align-items:center;
    justify-content: end;
    margin-right: 40px;
}
.Links{
   padding-left: 25px;
}